body {
  height: 2000px;
}

/* DEBUT : ALERT COOCKIES */

.coockiesUse {
  float: right;
  top: 0px;
  opacity: 0.7;
  display: block;
  background-color: #FE4240;
  width: 350px;
  max-width: 100%;
  height: 220px;
  margin-top: 400px;
  text-align: center;
  border-radius: 15px;
}

.coockiesUse button {
  float: left;
  margin-left: 20px;
}

/* FIN : ALERT COOCKIES */

/* DEBUT : ICONES SOCIAUX */

.twitter {
  display: block;
  position: fixed;
  margin-top: 200px;
  width: 140px;
  height: 40px;
  background-color: #6Ac2F4;
  text-align: center;
  left: -100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.twitter a {
  color: white;
  vertical-align: middle;
  line-height: 40px;
}

.twitter:hover {
  transition: 1.5s;
  transform: translateX(100px);
}

.twitter img {
  border-radius: 50px;
  padding-top: 2.5px;
  padding-right: 2.5px;
  float: right;
}

.facebook {
  display: block;
  position: fixed;
  margin-top: 260px;
  width: 140px;
  height: 40px;
  background-color: #3E5F94;
  text-align: center;
  left: -100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.facebook img {
  border-radius: 50px;
  padding-top: 2.5px;
  padding-right: 2.5px;
  float: right;
}

.facebook a {
  vertical-align: middle;
  line-height: 40px;
  color: white;
}

.facebook:hover {
  transition: 1.5s;
  transform: translateX(100px);
}

.dribbble {
  display: block;
  position: fixed;
  margin-top: 320px;
  width: 140px;
  height: 40px;
  background-color: #E4729E;
  text-align: center;
  left: -100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.dribbble img {
  border-radius: 50px;
  padding-top: 2.5px;
  padding-right: 2.5px;
  float: right;
}

.dribbble a {
  vertical-align: middle;
  line-height: 40px;
  color: white;
}

.dribbble:hover {
  transition: 1.5s;
  transform: translateX(100px);
}

.google {
  display: block;
  position: fixed;
  margin-top: 380px;
  width: 140px;
  height: 40px;
  background-color: #DB4C34;
  text-align: center;
  left: -100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.google img {
  border-radius: 50px;
  padding-top: 2.5px;
  padding-right: 2.5px;
  float: right;
}

.google a {
  vertical-align: middle;
  line-height: 40px;
  color: white;
}

.google:hover {
  transition: 1.5s;
  transform: translateX(100px);
}

/* FIN : ICONES SOCIAUX */

/*TITRES */

#title1 {
  float: left;
  margin-left: 50px;
  margin-top: 300px;
  border-left: solid 3px #FE4240;
  width: 300px;
  max-width: 100%;
  height: 25px;
}

#title1 p {
  font-family: sans-serif;
  font-size: 25px;
  margin-left: 15px;
  vertical-align: middle;
  line-height: 25px;
}

/* CONTACT */

.section-content {
  text-align: center;
}

#contact {
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 550px;
  background: #3a6186;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186, #89253e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186, #89253e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.contact-section {
  padding-top: 40px;
}

.contact-section .col-md-6 {
  width: 50%;
}

.form-line {
  border-right: 1px solid #B29999;
}

.form-group {
  margin-top: 10px;
}

label {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}

.form-control {
  font-size: 1.3em;
  color: #080808;
}

textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit {
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}

#myModal, #myModal1 {
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#checkbox1, #checkbox2 {
  text-align: left;
}

/* Boutons */

#btn1, #btn2 {
  background-color: #FE4240;
  border-color: #FE4240;
}

.btn-group {
  float: right;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 66, 64, .25);
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 66, 64, .5) !important;
}

input[type="text"] {
  width: 200px;
}

/* Jumbotron */

.jumbotron {
  height: 100%;
  width: 100%;
  padding: 0px;
}

/* menu */

nav a {
  color: white !important;
}

nav a:hover {
  color: #FE4240 !important;
}

.navbar {
  position: absolute;
  z-index: 2;
}

.bg-dark {
  background-color: transparent !important;
}

/* barre de recherche */

.topnav {
  overflow: hidden;
  background-color: transparent !important;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 5px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  margin-top: 0px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-top: 0px;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* carrrousel */

#myCarousel {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* Featured Movies */

.img-thumbnail {
  display: inline-block;
  width: 400px;
  height: 300px;
}

.col-md-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.filterDiv {
  float: left;
  background-color: #FE4240;
  color: #ffffff;
  width: 225px;
  line-height: 50px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #FE4240;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7c8c8;
  font-weight: bold;
}

.btn.active {
  background-color: #f79999;
  color: #ff0000;
  font-weight: bold;
}

#btn3, #btn4 {
  display: block;
  margin: auto;
}

#btn4 {
  display: none;
}

a {
  color: #FE4240;
}