#collapsibleNavbar {
  background-color: black;
  border-radius: 45px;
  opacity: 0.8;
  font-weight: bold;
}

/* Newsletter */

#newsletter form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
}

#newsletter .container {
  padding: 20px;
  background-color: #f1f1f1;
  margin: auto;
  text-align: center;
}

#newsletter input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#newsletter input[type=checkbox] {
  margin-top: 16px;
}

#newsletter input[type=submit] {
  background-color: #FE4240;
  color: black;
  border: none;
}

#newsletter input[type=submit]:hover {
  opacity: 0.8;
}

/* DEBUT : ALERT COOCKIES */

.coockiesUse {
  display: block;
  position: fixed;
  top: 100px;
  right: 0;
  opacity: 0.7;
  background-color: #FE4240;
  width: 350px;
  max-width: 100%;
  height: 220px;
  text-align: center;
  border-radius: 15px;
  z-index: 1500;
}

.coockiesUse button {
  float: left;
  margin-left: 20px;
}

.coockiesUse a {
  color: white;
}

/* FIN : ALERT COOCKIES */

/* DEBUT : ICONES SOCIAUX */

.twitter {
  display: block;
  position: fixed;
  margin-top: -75px;
  width: 140px;
  height: 40px;
  background-color: #6Ac2F4;
  text-align: center;
  left: -100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.twitter a {
  color: white;
  vertical-align: middle;
  line-height: 40px;
}

.twitter:hover {
  transition: 1.5s;
  transform: translateX(100px);
}

.twitter img {
  border-radius: 50px;
  padding-top: 2.5px;
  padding-right: 2.5px;
  float: right;
}

.facebook {
  display: block;
  position: fixed;
  margin-top: -25px;
  width: 140px;
  height: 40px;
  background-color: #3E5F94;
  text-align: center;
  left: -100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.facebook img {
  border-radius: 50px;
  padding-top: 2.5px;
  padding-right: 2.5px;
  float: right;
}

.facebook a {
  vertical-align: middle;
  line-height: 40px;
  color: white;
}

.facebook:hover {
  transition: 1.5s;
  transform: translateX(100px);
}

.dribbble {
  display: block;
  position: fixed;
  margin-top: 25px;
  width: 140px;
  height: 40px;
  background-color: #E4729E;
  text-align: center;
  left: -100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.dribbble img {
  border-radius: 50px;
  padding-top: 2.5px;
  padding-right: 2.5px;
  float: right;
}

.dribbble a {
  vertical-align: middle;
  line-height: 40px;
  color: white;
}

.dribbble:hover {
  transition: 1.5s;
  transform: translateX(100px);
}

.google {
  display: block;
  position: fixed;
  margin-top: 75px;
  width: 140px;
  height: 40px;
  background-color: #DB4C34;
  text-align: center;
  left: -100px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.google img {
  border-radius: 50px;
  padding-top: 2.5px;
  padding-right: 2.5px;
  float: right;
}

.google a {
  vertical-align: middle;
  line-height: 40px;
  color: white;
}

.google:hover {
  transition: 1.5s;
  transform: translateX(100px);
}

/* FIN : ICONES SOCIAUX */

/*TITRES */

#title1, #title0 {
  float: left;
  margin-left: 200px;
  margin-bottom: 25px;
  border-left: solid 3px #FE4240;
  width: 300px;
  max-width: 100%;
  height: 25px;
}

#title1 p, #title0 p {
  font-family: sans-serif;
  font-size: 25px;
  margin-left: 15px;
  vertical-align: middle;
  line-height: 25px;
}

.titre2 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.row h5 {
  text-align: center;
}

.films {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/*
.bgc {
  background-color: #FE4240;
  color: white;
} */

.annees {
  width: 50%;
  float: left;
}

.genres {
  width: 50%;
  float: right;
}

/* CONTACT */

iframe {
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  width: : 100%;
  display: block;
}

.section-content {
  text-align: center;
}

#contact {
  margin-top: 50px;
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  height: 700px;
  background: #f4a742;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f4a742, #FE4240);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f4a742, #FE4240);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.contact-section {
  padding-top: 40px;
}

.contact-section .col-md-6 {
  width: 50%;
}

.form-line {
  border-right: 1px solid #B29999;
}

.form-group {
  margin-top: 10px;
}

label {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}

.form-control {
  font-size: 1.3em;
  color: #080808;
}

textarea.form-control {
  height: 100px;
  /* margin-top: px;*/
}

.submit {
  font-size: 1.1em;
  float: left;
  width: 200px;
  background-color: transparent;
  border-radius: 35px;
  color: #fff;
}

/* Login/register */

.entetes {
  margin-left: auto;
  margin-right: auto;
}

#myModal, #myModal1 {
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

#checkbox1, #checkbox2 {
  text-align: left;
}

/* Boutons */

#myBtnContainer {
  margin-left: 200px;
}

#btn1, #btn2 {
  background-color: #FE4240;
  border-color: #FE4240;
}

.btn-group {
  float: right;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 66, 64, .25);
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 66, 64, .5) !important;
}

input[type="text"], input[type="password"] {
  width: 200px;
}

.label {
  text-align: right;
}

/* Jumbotron */

.jumbotron {
  height: 100%;
  width: 100%;
  padding: 0px;
}

/* menu */

nav a {
  color: white !important;
}

nav a:hover {
  color: #FE4240 !important;
}

.navbar {
  position: absolute;
  z-index: 2;
}

.bg-dark {
  background-color: transparent !important;
}

/* barre de recherche */

.navbar-brand {
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  background-color: transparent !important;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 5px;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  margin-top: 0px;
  border-radius: 45px;
  opacity: 0.5;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-top: 0px;
  border-radius: 45px;
  opacity: 0.5;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* carrrousel */

#myCarousel {
  /* height: 300px; */
  width: 100%;
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* Featured Movies */

/*
.img-thumbnail {
  display: inline-block;
  width: 400px;
  height: 300px;
} */

.col-md-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.filterDiv {
  float: left;
  background-color: #FE4240;
  color: #ffffff;
  width: 225px;
  line-height: 50px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #FE4240;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7c8c8;
  font-weight: bold;
}

.btn.active {
  background-color: #f79999;
  color: #ff0000;
  font-weight: bold;
}

#btn3 {
  display: block;
  margin: auto;
  margin-top: 25px;
  border: solid 2.5px #FE4240;
}

#btn3:hover {
  background-color: #f7c8c8;
}

#btn4 {
  display: block;
  margin: auto;
}

#btn4 {
  display: none;
}

a {
  color: #FE4240;
}

/* ++++++++++++++++++++++ */

/* shop movie */

/* Position the image container (needed to position the left and right arrows) */

.container {
  position: relative;
}

/* Hide the images by default */

.mySlides {
  display: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.mySlides img {
  width: 100%;
}

/* Add a pointer when hovering over the thumbnail images */

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #FE4240 !important;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */

.caption-container {
  text-align: center;
  background-color: #FE4240;
  color: white;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */

.column {
  float: left;
  width: 14.28%;
}

/* Add a transparency effect for thumnbail images */

.demo {
  opacity: 0.6;
  width: 100%;
}

.active, .demo:hover {
  opacity: 1;
}

#shopmovies {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}